@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #333;
  background-image: url(https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #666;
  color: white;
}

body {
  background-color: #c4c1c1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

.row {
  margin: 8px -16px;
}

h2{
  text-align: center;
}

.content {
  background-color: #333;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.image img{
  border-radius: 25px;
}

.content img{
  border-radius: 25px;
  margin-top: 0px
}

.content-head{
  display: flex;
  justify-content: center;
  padding:30px;
  margin: 15px;
  background-color: #333;
  border-radius: 20px;
}

.image img{
  margin-top: 30px;
  border-radius: 25px;
}

.content-head p{
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  color: #CCCADC;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  padding: 8px 5px 8px 5px;
}

.para{
  padding: 15px;
}

.title{
  margin-top: 20px;
}

.dev{
  margin-top: 50px;
}

.dev img{
  margin-left: 370px;
  width: 100%;
}

/* Portfolio Styles */

#projects-heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.projects-grid{
  margin-top: 80px;
}

.items-wrapper {
    display: grid;
    grid-template-columns: 360px 360px;
    justify-content: center;
    position: relative;
    width: 1200px;
    height: 350px;
    margin: -20px auto 0;
}

.item-wrapper {
    position: relative;
    width: calc(360px - 30px);
    height: calc(180px - 30px);
    background-color: #888887;
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 7px #2e2e2e,
    0 0 10px #2e2e2e,
    0 0 21px #2e2e2e;
}

.item-wrapper:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 2px solid #264e74;
    border-bottom: 2px solid #264e74;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 0;
}

.item-wrapper:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.item-wrapper:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 2px solid #264e74;
    border-right: 2px solid #264e74;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 0;
}

.item-wrapper:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.project-img {
    position: relative;
    width: 100%;
    height: 180px;
    transition: 0.5s;
}

.item-wrapper:hover img {
    opacity: .3;
    transform: scale(1.2);
}

.text-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    box-sizing: border-box;
    text-align: center;
}

.text-wrapper h4 {
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    font-size: 1.3em;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.item-wrapper:hover .text-wrapper h4 {
    opacity:1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.2s;
}

/* Footer */

.footer{
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
}

.contact{
  color: white;
}

.myDiv{
  display: flex;
  justify-content: center;
  text-align: center;
}

.div{
  padding: 25px;
}

.div i {
  color: white;
}

.div p {
  color: white;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
